@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mainBg {
    background-image: url(../assets/images/portada.png);
    background-size: contain  ;
    background-position: 50%;
  }
  .backBg{
    background-image: url(../assets/images/background.png);
    background-size: auto;
    background-position: 50%;
  }

  .images {
    display: grid;
    grid-template:
      'a b'
      'a c'
      'd d';
  }
  .images > div:nth-child(1){
    height: 100%;
    grid-area: a;
  }
  .images > div:nth-child(2){
    grid-area: b;
  }
  .images > div:nth-child(3){
    grid-area: c;
  }
  .images > div:nth-child(4){
    grid-area: d;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
